html,
body,
#root {
    height: 100%;
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-content {
    flex: 1;
}

@font-face {
 /*    font-family: 'Air Travelers';
    src: url('./../public/fonts/AirTravelersPersonalUse-BdIt.woff2') format('woff2'); */
}

