
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    width: 80%;
    height: 80%;
}

.parent div{
    border-radius: 10px;
}
    
.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    background-color: antiquewhite;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    background-color: antiquewhite;

}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
    background-color: antiquewhite;

}

.div4 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: antiquewhite;

}
        